@media (orientation: landscape) {
    .header__title {
        margin-top: 20px;
        font-size: 4em;
    }

    .header__topic {
        font-size: 3em;
    }

    .navigate {
        height: 100%;
        padding: 0;

        ul {
            li {
                margin-top: 2em;
                margin-bottom: 2.5em;

                a {
                    margin: 0;
                }
            }
        }
    }
}

@media (min-width: 480px){
    .about__section{
        height: 420px;
    }

    .about__therapy{
        height: 320px;
    }
}

@media (min-width: 768px) {


    header {
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: none;
    }

    .navigate {
       
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        width: 100%;
        height: 80px;
        top: 0;
        background-color: white;

        ul {
            top: 0;
            left: auto;
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;

            li {
                 padding: 10px;

                a {
                    font-size: 1.4em;
                    text-decoration: none;
                    text-transform: uppercase;
                    margin-left: 15px;
                    padding: 0px 20px;
                    color: black;

                    &:hover {
                        border-bottom: 1px solid black;
                    }
                }
            }
        }
    }



    .about {
        .about__text {
            font-size: 2.5em;
        }

        .photo {
            width: 300px;
            height: 300px;
        }
        
    }

    .about__section {
        display: flex;
        justify-content: center;
        height: 920px;

        .about__content {
            font-size: 2em;
            width: 90%;
        }
    }

    .main {
        font-size: 2em;

        .therapy__text {
            width: 75%;
        }
    }

    .footer {
        font-size: 2em;
        padding-bottom: 50px;
    }

    .about__therapy{
        height: 620px;
    }
}

@media (min-width: 1024px) {
.header{
    height: 80vh;
}

.container_bottom{

    .header__title {
        font-size: 8em;
      }
    .header__topic, .header__topic-sec{
        font-size: 1.8em;
        z-index: 2;
    }
}

.about__section {
          height: 620px;}
          
.about__therapy{
            height: 400px;
        }

}